---
version: "3.7"
services:
  {{ project_name }}:
    image: {{ image }}
    container_name: {{ project_name }}
    ports:
      - target: 80
        published: 80
        protocol: tcp
    restart: always
    volumes:
      - ./{{ config_file }}:/usr/local/etc/haproxy/haproxy.cfg