version: "3.7"
services:
  {{ project_name }}:
    image: {{ image }}
    container_name: {{ project_name }}
    restart: always
    expose:
      - "53"
      - "53/udp"
    ports:
      - "53:53"
      - "53:53/udp"
    volumes:
      - {{ config_dir }}:/etc/coredns:z