global
    log stdout format raw local0
defaults
    mode http
    log global
    option httplog
    timeout client  50000ms
    timeout server  50000ms
    timeout connect 5000ms
    default-server check inter 120s maxconn 2000

frontend http-in
    bind *:80
    acl host_gitlab hdr(host) -i gitlab.hl.io
    acl host_jenkins hdr(host) -i jenkins.hl.io   

    use_backend jenkins if host_jenkins
    use_backend gitlab if host_gitlab

    default_backend jenkins

backend jenkins
    server jenkins 192.168.80.100:8080 check

backend gitlab
    server gitlab 192.168.80.100:8081 check
